button {
  display: block;
  font-size: 1em;
  font-weight: 500;
  padding: 10px;
  margin: 0 auto;
  border: none;
  cursor: pointer;
  background-color: hsl(204, 29%, 29%);
  color: hsl(204, 29%, 90%);
}
