.card {
  box-shadow: 0px 4px 6px 0px hsla(0, 0%, 0%, 0.2);
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  background-color: white;
  margin-bottom: 35px;
}

.card__bookmark--active {
  background-color: transparent;
  border: none;
  padding: 0;
  margin-right: 0;
  margin-top: -15px;
  margin-bottom: -40px;
  margin-right: 10px;
}
.card__content {
  display: flex;
  flex-direction: column;
}

.card__question {
  padding: 40px 30px 40px 30px;
  font-size: 16px;
  font-weight: 600;
  line-height: 25px;
}

span ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding-left: 0px;
  align-items: center;
}

.tags {
  margin: 2px 5px;
  list-style-type: none;
  padding: 2px 16px;
  background-color: #23343f;
  color: white;
  font-weight: 800;
  border-radius: 7px;
  font-size: small;
}

// span ul li:first-of-type {
//   margin-left: 0;
// }

.show-answer {
  padding: 15px 0;
  display: flex;
  justify-content: center;
  background-color: #ededed;
}

.answer {
  background-color: #f7f7f7;
  font-weight: 300;
  padding: 40px 30px;
}
