.card {
  position: relative;
  box-shadow: 0px 4px 6px 0px hsla(0, 0%, 0%, 0.2);
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  background-color: white;
  margin-bottom: 35px;

  @media (min-width: 375px) {
    max-width: 305px;
    min-width: 305px;
  }

  &__content {
    display: flex;
    flex-direction: column;
  }
  &__question {
    padding: 40px 30px 40px 30px;
    font-size: 16px;
    font-weight: 400;
    line-height: 25px;
  }

  &__bookmark {
    &--active {
      position: absolute;
      top: -10px;
      right: 10px;
      background-image: url(images/buttons/round_bookmark_black_48dp.png);
      width: 48px;
      height: 48px;
      background-color: transparent;
      border: none;
      padding: 0;
    }
    &--inactive {
      position: absolute;
      top: -10px;
      right: 10px;
      background-image: url(images/buttons/round_bookmark_border_black_48dp.png);
      width: 48px;
      height: 48px;
      background-color: transparent;
      border: none;
      padding: 0;
    }
  }

  &__button {
    padding: 15px 0;
    display: flex;
    justify-content: center;
    background-color: hsl(204, 29%, 29%);
    border-radius: 0 0 12px 12px;

    &--show-answer::after {
      content: 'Show Answer';
    }

    &--hide-answer::after {
      content: 'Hide Answer';
    }

    &--submit::after {
      content: 'Submit';
    }
  }

  span ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding-left: 0px;
    align-items: center;
  }

  // span ul li:first-of-type {
  //   margin-left: 0;
  // }

  .show-answer {
    display: block;
    font-size: 1em;
    padding: 10px;
    margin: 0 auto;
    border: none;
    cursor: pointer;
  }

  .answer {
    background-color: #f7f7f7;
    font-weight: 300;
    padding: 40px 30px;
  }
}

.tags {
  margin: 2px 5px;
  list-style-type: none;
  padding: 2px 16px;
  background-color: #23343f;
  color: hsl(204, 29%, 90%);
  font-weight: 800;
  border-radius: 7px;
  font-size: small;
}
