@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@700&family=Roboto:wght@300&display=swap');
@import './utility';
@import './base';
@import './card';
@import './profile';

body {
  font-family: 'Roboto', sans-serif;
  margin: 0 0;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 65px auto 75px;
  background-color: #f3f6f9;
}

footer {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-shadow: 0 -3px 5px rgba(57, 63, 72, 0.3);
}

button {
  display: block;
  font-size: 1em;
  padding: 10px;
  margin: 0 auto;
  border: none;
  background: none;
  cursor: pointer;
}

.header {
  text-align: center;
  font-family: 'Oswald', sans-serif;
  font-size: larger;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
  z-index: +1;
}

.header__title {
  margin: auto 0;
}

main {
  overflow: scroll;
  padding: 35px;
}

.nav__liste {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-around;
  align-content: center;
}

.nav__liste li {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

li > a {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  color: black;
}

li > a > span {
  font-size: small;
  font-weight: 800;
  margin-top: 3px;
}

// section .show-answer span {
//   font-size: 20px;
//   font-weight: 300;
// }

/* profile style */

/* style create.html */

textarea {
  margin: 5px 0 20px 0;
  width: 80%;
  border-radius: 5px;
  background-color: #f3f6f9;
  border: none;
  padding: 8px 8px 8px 8px;
  margin: 5px 30px 15px 30px;
}

input {
  background-color: #f3f6f9;
  width: 80%;
  border: none;
  height: 25px;
  padding: 0 8px 0 8px;
  margin: 10px 30px 15px 30px;
  padding: 40px 30px 0 30px;
}

.create__new--form {
  display: flex;
  flex-direction: column;
}

.create__title {
  text-align: center;
  margin-bottom: 25px;
  font-weight: bold;
  font-size: smaller;
  padding: 40px 30px 0 30px;
}

[for] {
  font-weight: 900;
  font-size: x-small;
  padding: 40px 30px 0 30px;
}

.create_submit {
  margin: 15px 0 0 0;
  padding: 15px 0 15px 0;
  background-color: #ededed;
  font-size: 112.5%;
}
