@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@700&family=Roboto:wght@0,300;0,700;1,500&display=swap');
@import './utility';
@import './base';
@import './card';
@import './profile';
@import './create';
@import './nav';
@import './header';
@import './header';
@import './button';

body {
  font-family: 'Roboto', sans-serif;
  margin: 0 0;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 65px auto 75px;
  background-color: #f3f6f9;
}

main {
  overflow: auto;
  padding: 35px;
  z-index: 0;
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 100%;
  align-items: center;
  align-content: flex-start;

  @media (min-width: 768px) {
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 35px;
    align-items: flex-start;
  }
}
