@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@700&family=Roboto:wght@0,300;0,700;1,500&display=swap');
@import './utility';
@import './base';
@import './card';
@import './profile';
@import './create';

body {
  font-family: 'Roboto', sans-serif;
  margin: 0 0;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 65px auto 75px;
  background-color: #f3f6f9;
}

footer {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-shadow: 0 -3px 5px rgba(57, 63, 72, 0.3);
}

button {
  display: block;
  font-size: 1em;
  font-weight: 500;
  padding: 10px;
  margin: 0 auto;
  border: none;
  cursor: pointer;
  background-color: hsl(204, 29%, 29%);
  color: hsl(204, 29%, 90%);
}

.header {
  text-align: center;
  font-family: 'Oswald', sans-serif;
  font-size: larger;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
  z-index: +2;
}

.header__title {
  margin: auto 0;
  color: #23343f;
  font-weight: 800;
}

main {
  overflow: scroll;
  padding: 35px;
  z-index: 0;
}

.nav__liste {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-around;
  align-content: center;

  &--active {
    position: absolute;
    width: 66px;
    height: 5px;
    background-color: #23343f;
    //top: -11.25px;
    left: -15px;
    bottom: -11.25px;
  }
}

.nav__liste li {
  position: relative;
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

li > a {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  color: black;
}

li > a > span {
  font-size: small;
  font-weight: 800;
  margin-top: 3px;
  color: #23343f;
}

// section .show-answer span {
//   font-size: 20px;
//   font-weight: 300;
// }
