.header {
  text-align: center;
  font-family: 'Oswald', sans-serif;
  font-size: larger;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
  z-index: +2;
}

.header__title {
  margin: auto 0;
  color: #23343f;
  font-weight: 800;
}
