nav {
  @media (min-width: 768px) {
    display: flex;
    justify-content: center;
  }
}

.nav__liste {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-evenly;
  align-content: center;

  @media (min-width: 768px) {
    width: 768px;
  }
}

.btn-home--active::after {
  content: url(images/buttons/round_home_black_48dp.png);
}
.btn-home--deactive::after {
  content: url(images/buttons/round_home_outline_48dp.png);
}
.btn-bookmarks--active::after {
  content: url(images/buttons/round_bookmarks_black_48dp.png);
}
.btn-bookmarks--deactive::after {
  content: url(images/buttons/round_bookmarks_outline_48dp.png);
}
.btn-add--active::after {
  content: url(images/buttons/round_add_box_black_48dp.png);
}
.btn-add--deactive::after {
  content: url(images/buttons/round_add_box_outline_48dp.png);
}
.btn-profile--active::after {
  content: url(images/buttons/round_account_box_black_48dp.png);
}
.btn-profile--deactive::after {
  content: url(images/buttons/round_account_box_outline_48dp.png);
}

.nav__button-name > span {
  font-size: small;
  font-weight: 800;
  margin-top: 3px;
  color: #23343f;
}

// section .show-answer span {
//   font-size: 20px;
//   font-weight: 300;
// }

.nav__button-name {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  align-items: center;
}
